/* Importar a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Aplicar a fonte ao corpo e aos cabeçalhos */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; /* Um cinza claro suave */
}
/* Opcional: garantir que cabeçalhos também usem a fonte */
h1, h2, h3, h4, h5, h6, .card-title {
    font-family: 'Poppins', sans-serif;
}

/* Adicione aqui qualquer outro estilo global (como o Bootstrap) */